#main{
    display: none;
}
body{
    padding: 1vh;
    background-color:black ;
    color: white;
    text-align: center;
}
.header{
    display: grid;
    grid-template-columns: 1.5fr 7.5fr 1fr;
    align-items: center;
}
#foto{
    width: 100%;
    border-radius: 50%;
}
#menu{
    width: 95%;
}
#user_info{
    padding: 20px;
    text-align: start;
}
#user_name{
    font-size: 1.65vh;
}
#user_group{
    color: rgb(104, 104, 104);
    font-weight: 600;
    margin-top: -10px;
}
.days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.days div{
    background-color: rgb(42, 42, 42);
    border-radius: 15%;
    color:rgb(174, 174, 174);
    font-weight: 600;
}
.week_day{
    font-size: 1.25vh;
}
.data{
    font-size: 1vh;
}
.days div:hover{
    background-color:  rgb(97, 97, 97);
    .week_day{
        color:rgb(216, 216, 216); ;
    }
}